################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleCSOM/bin/Debug/net5.0
/ConsoleCSOM/obj
/ConsoleCSOM/.vs/ConsoleCSOM
/.vs
/ConsonleCSOM/.idea/
/ConsoleCSOM/.idea/.idea.ConsoleCSOM/.idea
/ConsoleCSOM/.vs/ProjectEvaluation
